<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.PostImageMapper">

    <resultMap id="BaseResultMap" type="com.backend.entity.PostImage">
            <id property="imageId" column="image_id" />
            <result property="postId" column="post_id" />
            <result property="url" column="url" />
            <result property="sortOrder" column="sort_order" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        image_id,post_id,url,sort_order,create_time
    </sql>
</mapper>
